In [1]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [18]:
s="A sample python statement"
st=s[9:15]
print(st[-1:-7:-1])

nohtyp

In [32]:
d1=[{'a':34},66,{'66':[{'00':[98,'hi']},'awesome',{'m':'n'}]}]
print(d1[1])
print(d1[2]['66'][0]['00'][0])
print(d1[2]['66'][1][-1])

66
98
e

In [1]:
s='468hi3.4'
a=[4,6,8,'hi',3.4]
b=(4,6,8,'hi',3.4)
c={4:6,8:{'hi',3.4}}
d={4,6,8,'hi',3.4}
type(s),type(a),type(b),type(c),type(d)

(str, list, tuple, dict, set)

In [6]:
s+='k'

In [7]:
s

'468hi3.4kkkkk'

In [8]:
s=s[:3]+'hgfg'+s[3:]

In [13]:
a+=['bye']
a=a[:2]+[39]+a[2:]

In [14]:
a

[4, 6, 39, 8, 'hi', 3.4, 'bye', 'bye']

In [15]:
b

(4, 6, 8, 'hi', 3.4)

In [20]:
b+=('bye',)
b=(b[:2]+(39,)+b[2:])
b
#to concatenate tuple we have to also put comma in single va;ued tuple because single valued tuple is considered string.

(4, 6, 39, 8, 'hi', 3.4, 'b', 'y', 'e', 'b', 'y', 'e', 'bye', 'bye')

In [23]:
(*a,*b,*s)
#shortcut to convert any data type in tuple we can use *

(4,
 6,
 39,
 8,
 'hi',
 3.4,
 'bye',
 'bye',
 4,
 6,
 39,
 8,
 'hi',
 3.4,
 'b',
 'y',
 'e',
 'b',
 'y',
 'e',
 'bye',
 'bye',
 '4',
 '6',
 '8',
 'h',
 'g',
 'f',
 'g',
 'h',
 'i',
 '3',
 '.',
 '4',
 'k',
 'k',
 'k',
 'k',
 'k')

In [24]:
c

{4: 6, 8: {3.4, 'hi'}}

In [25]:
c['type']='Value'
c

{4: 6, 8: {3.4, 'hi'}, 'type': 'Value'}

In [26]:
c2={'a':45, 'b':35}
{**c,**c2}
#dictionary concatenation can be done using **
#(*args,**kwargs)

{4: 6, 8: {3.4, 'hi'}, 'type': 'Value', 'a': 45, 'b': 35}

In [ ]:
#Item assignment
#Item deletion
#(only with mutable)

In [27]:
a[0]='a'#done
a
#s[0]='a' not possible

['a', 6, 39, 8, 'hi', 3.4, 'bye', 'bye']

In [28]:
c[4]=66
c

{4: 66, 8: {3.4, 'hi'}, 'type': 'Value'}

In [29]:
#Item deletion
#(only with mutable)
del a[0]
del c[4]
c

{8: {3.4, 'hi'}, 'type': 'Value'}

In [30]:
a

[6, 39, 8, 'hi', 3.4, 'bye', 'bye']

In [39]:
bool('')

False

In [40]:
bool(' ')

True

In [1]:
#Data type built in function
a=34
b=34.5
c=3+4j
d='hello'
e=[3,4,5]
f=(3,4,5)
g={3:[4,5]}
h={3,4,5}

In [43]:
c.real
c.imag

4.0

In [45]:
print(d.upper(),d.lower())

HELLO hello

In [ ]:
#functions:
# str: upper, lower,find, split, strip, join, format, count
#list: append, sort, count, copy, insert, remove , index, pop
#dict: keys, values, update, get, pop
#tuple: count, index
#set: add, difference, union, pop ,remove

In [3]:
d.find('el')

1

In [4]:
d.split('e')

['h', 'llo']

In [9]:
d.strip('oh')

'ell'

In [15]:
'-'.join(d)

'h-e-l-l-o'

In [16]:
'hi this is a new string'.replace(' ','#')

'hi#this#is#a#new#string'

In [23]:
x=20
y=30
#format specifier
z='number from %d to %d'%(x,y)
z
#using format function
z='number from {} to {}'
z=z.format(x,y)
z
z='number from {0} to {1} but {0} is enough'
z=z.format(x,y)
z
#f string
zf=f'number from {x} to {y} but {x} is enough'
zf

'number from 20 to 30 but 20 is enough'

In [27]:
#list functions
e.append(45)
e
e.remove(45)
e

[3, 4, 5, 45, 45]

In [30]:
e.remove(45)

In [31]:
e

[3, 4, 5]

In [32]:
e.insert(2, 1000)

In [41]:
e

[9, 6, 4, 3, 2]

In [40]:
e.sort(reverse=True)
e

[9, 6, 4, 3, 2]

In [42]:
e1=['hi','wow','good','hey','yes']
e1.sort()

In [43]:
e1

['good', 'hey', 'hi', 'wow', 'yes']

In [44]:
e1.sort(key=len,reverse=True)
e1

['good', 'hey', 'wow', 'yes', 'hi']

In [45]:
f

(3, 4, 5)

In [48]:
tuple(sorted(f, reverse=True))

(5, 4, 3)

In [50]:
k=e.pop()
k

2

In [58]:
g.get(3,36)

[4, 5]

In [59]:
e3=e
e3.append(60)
e3

[9, 6, 4, 3, 60]

In [60]:
e
#in this python has refrenced the value of e3 updation also in e

[9, 6, 4, 3, 60]

In [61]:
#deep copy vs shallow copy
e4=e.copy()
e4.append(80)
print(e4,e3,e)

[9, 6, 4, 3, 60, 80] [9, 6, 4, 3, 60] [9, 6, 4, 3, 60]

In [63]:
a=int(input())
if(a>5):
 print('Its too big')
elif(a<-20):
 print('its too small')
else:
 print('OK')

Its too big

In [3]:
#one line for loop
##comprehension
#list comprehension syntax1: [output for-loop]  syntax2: [output for-loop if condition]
b=[val*2 for val in d]
b

['hh', 'ee', 'll', 'll', 'oo']

In [8]:
k=[4,7,5,6,3,4,9,8,22,44,11,21]
p=[val for val in k if val%2 !=0 and val>10 ]
p

[11, 21]

In [23]:
#dictionary comprehension syntax: {key_op:value_op  for-loop}
m={val:val**2 for val in k if val%2==0}
m

{4: 16, 6: 36, 8: 64, 22: 484, 44: 1936}

In [24]:
for i in m:
    print(m[i])

16
36
64
484
1936

In [27]:
for key,value in m.items(): #items() gives key and values
    print(key,":",value)

4 : 16
6 : 36
8 : 64
22 : 484
44 : 1936

In [2]:
#### USER DEFINED FUNCTION
def func():
    ''' abjbjdb
    sdbfjjbjd
    '''
    print("hello")
func()

hello

In [3]:
help(func)

Help on function func in module __main__:

func()
    abjbjdb
    sdbfjjbjd

In [41]:
def fun(value1,value2):
    return (value1*value2)+value1

In [42]:
print(fun(4,5))
func()

24
hello

In [43]:
fun(value2=9, value1=8)

80

In [44]:
def funct(*v):
    return [i for i in v]

In [46]:
funct(1,2,3,4,)

[1, 2, 3, 4]

In [1]:
def abc():
    print("hello")
abc()

hello